{{yield}}
<div class="header" ...attributes>
  <div class="left-header">
    <div class="header-logo"></div>
    {{#link-to "index"}}
      <svg width="40px" height="40px" viewBox="0 0 512 512" version="1.1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>Highlight</title>
        <desc>Created with Sketch.</desc>
        <defs></defs>
        <g id="fs_huddle" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linejoin="round">
          <g id="Highlight" stroke="#6F7C87" stroke-width="0.5" fill="#fff">
            <path
              d="M80.3909661,495.318632 L124.214222,404.933167 C124.543885,404.253238 124.715152,403.507432 124.715152,402.751799 L124.715152,282.235748 L124.715152,282.235748 C124.715152,281.203908 125.034385,280.197337 125.629065,279.3541 L313.226033,13.3474614 L313.226033,13.3474614 C314.75026,11.1861542 317.693969,10.5856433 319.942978,11.9772174 L431.618108,81.0762044 L431.618108,81.0762044 C433.79769,82.4248207 434.604521,85.2031748 433.486321,87.5094639 L292.763211,377.750878 L292.763211,377.750878 C292.291397,378.723993 291.516793,379.517904 290.555586,380.013526 L197.502515,427.994016 L197.502515,427.994016 C196.793946,428.359372 196.008286,428.55 195.211069,428.55 L175.242704,428.55 L175.242704,428.55 C173.545908,428.55 171.964905,429.410538 171.043716,430.835502 L126.192648,500.214498 L126.192648,500.214498 C125.271459,501.639462 123.690455,502.5 121.99366,502.5 L84.8900366,502.5 L84.8900366,502.5 C82.1286129,502.5 79.8900366,500.261424 79.8900366,497.5 C79.8900366,496.744367 80.0613034,495.998562 80.3909661,495.318632 L80.3909661,495.318632 Z M327.313652,99.1950915 C319.404083,99.7390186 312.056529,103.98585 307.734421,111.308058 L237.124214,230.822658 C230.208837,242.538126 234.348756,257.188871 246.288961,263.931433 C258.229159,270.673995 273.116514,266.763606 280.031891,255.048591 L350.433808,135.53399 C357.349186,123.818523 353.417556,109.167971 341.477351,102.425216 C336.999776,99.8967068 332.059398,98.8687392 327.313652,99.1950915 Z M96.1963808,485.648268 L96.1963808,485.648268 C95.9848118,486.067454 95.8745931,486.530449 95.8745931,487 C95.8745931,488.656854 97.2177389,490 98.8745931,490 L98.8745931,490 L118.323614,490 C119.365397,490 120.332594,489.459535 120.878589,488.572292 L158.208475,427.911228 C158.276717,427.800334 158.337668,427.685115 158.390939,427.566301 C159.068795,426.054455 158.392712,424.279352 156.880866,423.601497 L135.546354,414.035897 C134.083368,413.379948 132.363189,413.990271 131.640776,415.421604 L131.640776,415.421604 L96.1963808,485.648268 Z"
              id="Combined-Shape"></path>
          </g>
        </g>
      </svg>
      <span class="heading">{{this.title}}</span>
      <span class="sub-heading">{{this.tagline}}</span>
    {{/link-to}}
  </div>
  <div class="right-header">
    {{#link-to "add-gist"}}
      <span>New Gist</span>
    {{/link-to}}
    <div class="dark-mode-toggle" {{did-insert (action this.loadMode)}}>
      {{input type="checkbox" id="mode-toggle" class="tgl tgl-skewed"
              change=(action this.toggleMode)}}
      <label class="tgl-btn" data-tg-off="AUTO" data-tg-on="ON" for="mode-toggle" title="AUTO - Based on the dark mode setting in OS, ON - Always dark mode"></label>
      <span>Dark mode</span>
    </div>
  </div>
</div>